// QUERIES
@include tablet {
    h1 {
        
    }
    
   
    
    
    
    
/*    
    ul {
        li {
            a {
                width: calc(25% - 1rem);
                float: left; 
            }
            &:last-child a {
                margin: 0;
            }
        }
    }
}
*/