// VARIABLES

$primary-font: Arial,sans-serif;
$secondary-font: 'Damion';
$tertiary-font: Impact,sans-serif;

$bg-color: #FFF; //white
$font-color: #000; //black
$font-hover: #B8860B;
$border-color: #999;
$item-bg-color: #EEE; 

$border-bottom: #CCC;
$bg-brder-r: #CCD;

$bg-people-border: #000;
$bg-people-color: #4169E1;
$bg-people-font: #FFD700;
$bg-shadow: #333;
$bg-gold: #FFD700;
$bg-gold-hover: #666;

$bg-black: #212121;


    
    
  